<!DOCTYPE HTML>
<html>
	<head>
		<title> Liga Nacional de Futbol Sala </title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<style>
			body{
				background-image: url('https://wallpaperstock.net/negro-piso-wallpapers_6854_1680x1050.jpg');
				
			}
			h1 {
				color: #FFFAFA;
				font-family: verdana;
				font-size: 300%;
				text-align: center;
			}
			h2 {
				color: #FFFAFA;
				font-family: verdana;
				font-size: 150%;
				text-align: center;
			}
			article{
				color: #FFFAFA;
				font-family: verdana;
				font-size: 125%;
				text-align: center;
			}
		</style>
		<meta charset="UTF-8">
	</head>	
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/home">Inicio</a>
			</div>
			<div>
			<ul class="nav navbar-nav">
			  <li><a href="/lnfsapp">Clasificacion</a></li>
			  <li><a href="/calendario">Calendario</a></li>
			</ul>
			</div>
			</div>
		</nav>
		<img src="{{MEDIA_URL}}Lnfs_logo14.png" style="float:left" height="100" width="120";>
		<img src="{{MEDIA_URL}}Lnfs_logo14.png" style="float:right" height="100" width="120";>
		<h1> <u> <b> Liga Nacional de Futbol Sala </b> </u> </h1>
		
		<h2> <u> "O mágico" el mejor jugador del planeta, en nuestra liga. </u> </h2>
		<article> El actual jugador portugués del Inter Movistar, Ricardinho, esta siendo de nuevo el objeto de todas las miradas de los entendidos de este deporte, por sus últimas actuaciones, tanto a nivel internacional, como a nivel de clubes, para ser nombrado de nuevo mejor jugador de Fútbol Sala del planeta, pero aún así "O Mágico" como se le apoda a este mago del balón, lo tendrá díficil ya que siempre tiene la competencia del grandísimo futbolista brasileño Falcao, considerado por muchos el más grande de todos los tiempos, futbolista que a sus 40 años sigue en activo debido a su grandísimo talento. </article>
		<br></br>
		<h2> <u> La igualdad a la LNFS llegó </u> </h2>
		<article> Hace seis, siete años la liga nacional de fútbol sala, era un total monopolio del Interviu FS (actual Inter Movistar), más tarde cuando su hegemonia acabó, comenzó la del FC Barcelona Lassa, siempre entre medias y haciendo el intento de molestar estaba ElPozo Murcia. El equipo murciano, siempre ha mostrado un gran nivel, pero por circunstancias nunca ha llegado a culminar una gradiosa temporada con grandes títulos. Y este año es cuando, esa igualdad ya es palpable, donde el Palma Futsal esta líder, y equipos como el Catgas Energía (antiguo Marfil Santa Coloma) y Jaen Paraíso Interior que siempre habían rondado la zona media/baja de la tabla ahora están cuarto y quinto respectivamente.</article>
	</body>
</html>
